.meal{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cdcdcd;
}

.meal h3 {
    margin: 0 0 0.25rem 0;
}

.description{
    font-style:italic;
    /* opacity: 50%; */
    color: rgb(90, 79, 79);
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: red;
    font-size: 1.25rem;
}